@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* 🌞 Light Theme */
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
  --border: 214.3 31.8% 91.4%;
}

.dark {
  /* 🌚 Dark Theme */
  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;
  --border: 217.2 32.6% 17.5%;
}

@layer base {
  html {
    @apply bg-background text-foreground;
  }

  body {
    @apply  bg-background text-foreground;
  }

  * {
    @apply border-border;
  }
}
